$("##{@product.permalink} .add_to_bookmarks").html("#{j render 'products/add_to_bookmarks', product: @product}")
$('##{@product.permalink} .add_to_bookmarks button').tooltip()
$('#bookmarks_list .list').html("#{j render 'shared/bookmarks_table'}")