%h1.underlined
  Закладки

%table.table
  %tr
    %th.center Дата
    %th.center Товар
    %th.center

  - @bookmarks.each do |bookmark|
    %tr
      %td= bookmark.created_at.strftime("%y.%m.%d")
      %td= link_to_product Product.find(bookmark.product_id)
      %td
        = link_to "×", bookmark, :method => :delete, class: 'btn btn-sm btn-link', :data => { :confirm => 'Уверены?' }
