%html
  %head
    %title Обратная связь
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/ 

  %body.email
    %p Сообщение с сайта spbfish.ru
    %p= @feedback