.row
  .col-md-2.col-xs-0
  .col-md-8.col-xs-12
    %h2= @article.title
    .body
      %p= @article.body.html_safe

    - if current_user.try :admin?
      = link_to 'Изменить', edit_article_path(@article)
      \ | 
      = link_to 'К списку статей', articles_path
  .col-md-2.col-xs-0
