%html
  %head
    %title Регистрация нового пользователя
    %meta{:content => "text/html; charset=utf-8"}/ 
    %link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/ 

  %body.email.new_user
    %p Ваша учётная запись подтверждена.
    %p Вы теперь можете авторизоваться на сайте.
    %p Данные для авторизации были высланы в предыдущем письме.
    %p
      %strong Настоятельно рекомендуем сменить пароль
      после успешной авторизации 
      %strong для вашей же безопасности.
      Для этого в личном кабинете нажмите на кнопку "Редактировать профиль".
