%meta{:content => "text/html; charset=utf-8"}/ 
%link{:rel => "stylesheet", :type => "text/css", :href => "emails.css.scss"}/

%body.email

  %h3
    Ваш заказ подтверждён.
  %p Перейдите по ссылке ниже для оплаты заказа.
  = link_to yandex_pay_url(order: {id: @order.id, token: @order.token}), yandex_pay_url(order: {id: @order.id, token: @order.token})

  %p Состав заказа:

  = render 'order_table'