= 'Здравствуйте, ' + @order.name + '.'

Ваш заказ готов к отправке.

Вы заказывали следующие товары:

%table 
	%tr
		%th{colspan: 2} Кол-во
		%th Описание
	= render @order.line_items

= 'Товары будут доставлены по адресу ' + @order.address

Желаем успехов!

= @sign