= 'Здравствуйте, ' + @order.name + '.'
\
Ваш заказ готов к отправке.
\
Вы заказывали следующие товары:
\
- @order.line_items.each do |item|
	= '  - ' + item.quantity + ' x ' + item.product.title
\
= 'Товары будут доставлены по адресу ' + @order.address
\
Желаем успехов!
\
\--
Тропик Аквариум