- if @group.children.any?
  - cache @group do
    .children
      - @group.children.each do |child_group|
        .child_group_link
          = link_to child_group do
            = image_tag 'no_photo.png', {alt: child_group.title}
            %span.link= child_group.title