%h1 Список пользователей

%table
  %tr
    %th Имя
    %th email
    %th Действия

  - @users.each do |user|
    %tr
      %td= user.information.name
      %td= user.email
      %td
        = link_to 'Показать', user_path(id: user)
        %br
        = link_to 'Удалить', users_path(id: user), :method => :delete, :data => { :confirm => 'Вы действительно хотите удалить пользователя?' }

%br

=# link_to 'New User', new_user_path
