- if notice
  %p#notice= notice

%h3
  = "Привет, #{@user.login ? @user.login : @user.email}!" # greeting < users_helper.rb
- if @user.orders.any?
  %h2 Активные заказы

  - @user.orders.each do |order|
    = link_to order.created_at, order