%img{:src => "/assets/alert.png", :alt => "loading"}
%p{style: "color: #F00; font-size: 14px; font-weight: bold;"} Произошла ошибка, перезагрузите страницу. Если подобное повторится, сообщите администратору сайта.