- size ||= 'sm-sq'
- img_url = size == 'sm-sq' ? product.thumb : product.medium
.product-image{class: "img-#{size}"}= link_to image_tag(img_url, alt: product.title, title: product.title, itemprop: 'image'), product.image_url