- cache "groups/#{Group.maximum(:updated_at).utc.try(:to_s, :number)}" do
  .side-panel
    .show_hide_tree ▼ Каталог ▼
    %nav.menu_side
      %ul
        - Group.where(parent_id: '').each do |group|
          = menu_for_group(group).html_safe
