.select
  %span= selection_label(current) # Store helper
  %ul.values
    - array.each do |item|
      - unless item.to_s == current.to_s
        %li= link_to(selection_label(item), request.parameters.merge({controller: controller, action: action, param => item}))