// Rerender control panel and product list
$('#product_index').html("#{escape_javascript render @products}")//.prepend("#{escape_javascript debug session[:user]; params.to_param}");
$('.control').html("#{escape_javascript render 'shared/control'}")