%h1.underlined
  Правка заказа
  = link_to 'Заказы', orders_path

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active
    %a{href: "#edit", role: 'tab', data: {toggle: 'tab'}} Правка заказа
  %li
    %a{href: "#info", role: 'tab', data: {toggle: 'tab'}} Информация

.tab-content.container-fluid
  .in.active.row.container-fluid#edit
    = render 'carts/cart'

  .row#info
    .order= render 'form'

