.row
  .col-xs-12.col-lg-8
    = paginate @line_items if @line_items
.row
  .col-xs-12.col-lg-8= render "carts/line_items"
.row.total
  .col-xs-6.col-lg-4.items
    Всего товаров:
    %span= @line_items.length
  .col-xs-6.col-lg-4.right.grand-total
    Итого: 
    %span= number_to_currency @cart.total_price