- @line_items.each do |li|
  .product{id: li.product.permalink}
    = render 'shared/image', product: li.product, size: 'r'
    .description
      %h3= link_to li.product.title, li.product
      %p= li.product.long_name
    .info_table= render(partial: 'carts/info_table', locals: {li: li})