$('#cart').stop().fadeOut('fast', function() { $('#cart').html("#{ j render('shared/cart', cart: @cart) }").fadeIn('fast')});

$('#item_counter span').stop().hide('fast', function() { $('#item_counter span').html("#{ j count_cart_elements }").show('fast')});;

$('.grand_total').html("#{ j render('shared/grand_total') }");