.col-sm-9
  %h4 «Тропик-Аквариум» – Оптовая продажа товаров по аквариумистике
  %hr/

  %p Компания Тропик-Аквариум занимается оптовой продажей аквариумных рыбок, растений, и полного ассортимента сопутствующих товаров для аквариумов, прудов и террариумов. Если вы искали Куплю аквариум либо Куплю аквариум оптом а так же аквариумные растения оптом в интернете, то вы попали по адресу!

  %p Тропик-Аквариум существует с 1998 года, и сейчас насчитывает более 100 тонн воды, что позволяет предложить клиентам компании широкий ассортимент аквариумных рыб и растений хорошего качества. Вы ищите аквариумные рыбки купить оптом, на данный момент, Тропик Аквариум имеет опыт успешного разведения около 50 различных видов. Наладив поставки из Юго-Восточной Азии, ассортимент предлагаемых нами товаров расширился, и на данный момент составляет более 250 позиций аквариумных рыбок и растений. Вся рыба периодически проверяется квалифицированными специалистами, на возможное наличие различных заболеваний. Импортируемая рыба обязательно проходит карантин от 2 до 5 недель.Тропик-Аквариум предлагает аквариумные растения оптом в большом ассортименте.  

  %p Так же Тропик-Аквариум предлагает своим клиентам полный ассортимент сопутствующих товаров для аквариумов прудов и террариумов ведущих европейских, отечественных, китайских и американских производителей. Как купить аквариум оптом? Большие площади складов позволяют поддерживать в наличии весь ассортимент товара по самым низким оптовым ценам. Поиск куплю аквариум или террариум оптом переводит Вас на наш сайт.

  %p Мы работаем с зоомагазинами Санкт-Петербурга, и с региональными клиентами по всей России. Опыт компании позволяет доставлять живыми рыбок и аквариумные растения оптом клиентам в любой регион а так же позволяет купить аквариум оптом в любой точки России. В наличии все необходимые ветеринарные документы и сертификаты. Аквариумные рыбки купить оптом возможно.  
  
  %p Тропик Аквариум гарантирует индивидуальный подход к каждому клиенту. Делая заказ у Нас, Вы приобретаете, только качественный, проверенный и сертифицированный товар. Наши клиенты всегда могут обратиться к Нам по любым вопросам касаемо работы с живыми рыбами и растениями, а так же получить консультацию по подбору и использованию оборудования, гидрохимии и кормов.

  %p Понимая, что купить аквариум оптом и перевозка живого товара, связана с определенными рисками, Тропик Аквариум несет ответственность за товар во время транспортировки, и в течение суток с момента получения заказа клиентом, что позволяет аквариумные рыбки купить оптом для других регионов.

  %p#signature
    Будем рады видеть Вас в числе наших клиентов. 
    %br/
    Коллектив «Тропик-Аквариум»


.col-sm-3.well.well-sm= render 'modules/articles_menu'