.col-sm-9
  %h4 «Тропик-Аквариум» – Оптовая продажа товаров по аквариумистике
  %hr/

  %p Компания «Тропик-Аквариум» занимается оптовой продажей аквариумных рыбок, растений, и полным спектром сопутствующих товаров по аквариумистике.   Если вы искали " Куплю аквариум " либо " Куплю аквариум оптом " в интернете, то вы попали по адресу!

  %p «Тропик-Аквариум» существует с 1998 года, и сейчас насчитывает более 100 тонн воды, что позволяет предложить клиентам компании широкий ассортимент аквариумных рыб и растений хорошего качества. На данный момент, «Тропик Аквариум» имеет опыт успешного разведения около 50 различных видов аквариумных рыбок. Наладив поставки из Юго-Восточной Азии, ассортимент предлагаемых нами товаров расширился, и на данный момент составляет более 250 позиций аквариумных рыбок и растений. Вся рыба периодически проверяется квалифицированными специалистами, на возможное наличие различных заболеваний. Импортируемая рыба обязательно проходит карантин от 2 до 5 недель.  

  %p Так же «Тропик-Аквариум» предлагает своим клиентам, практически полный ассортимент сопутствующих товаров. «Тропик Аквариум» работает как с зоомагазинами Санкт-Петербурга, так и с региональными клиентами. Опыт компании позволяет доставить живыми рыбок и растения клиентам, при условии нахождения их в пути не более 3-х суток. В наличии все необходимые ветеринарные документы и сертификаты. «Тропик Аквариум» гарантирует индивидуальный подход к каждому клиенту. Делая заказ у нас, Вы приобретаете, только качественный товар и в тех количествах, которые Вам необходимы. В дальнейшем Вы всегда сможете получить у нас консультацию по всем интересующим Вас вопросам. Наша компания не ограничивает минимальное количество товаров, лимитируя лишь общую сумму заказа.

  %p Понимая, что перевозка живого товара, связана с определенными рисками, «Тропик Аквариум» несет ответственность за товар во время транспортировки, и в течение суток с момента получения заказа клиентом.  

  %p#signature
    Будем рады видеть Вас в числе наших клиентов. 
    %br/
    Коллектив «Тропик-Аквариум»


.col-sm-3.well.well-sm= render 'modules/articles_menu'