%h1 Доставка и самовывоз
%h3 Для Санкт-Петербурга и Ленинградской области.
%h4 Получить заказ возможно двумя способами.
%ol
  %li
    %p Самовывоз. В этом случае во время покупки, в соответствующем пункте меню необходимо указать «Самовывоз» и выбрать способ оплаты. Далее, после подтверждения Вашего заказа менеджером Fishmarkt и поступления денежных средств можно забрать заказ в пункте выдачи. Часы работы понедельник-пятница с 10 до 19.
    %p Забрать товар самостоятельно можно по адресу: самовывоз временно недоступен.