%h1 Гарантия
%p В случае если приобретенный товар вышел из строя, необходимо предоставить его в офис Spbfish для выявления неисправности.
%p Если все гарантийные требования будут соблюдены товар будет заменен на новый или отремонтирован, в зависимости от гарантийных условий производителя в течении 45 дней. В случае отсутствия товара на складе и невозможности его заказа будет произведен возврат денег в полном объеме.
%h4 Гарантийные требования.
%ol
  %li Гарантийный срок заявленный производителем не истек.
  %li Наличие документа подтверждающего покупку в Spbfish
%p В случае выявления механических повреждения, вмешательства в целостность конструкции и ненадлежащей эксплуатации, что послужило выходу из строя и порчи товара. Случай считается не гарантийным.
%p 
  %strong Внимание!
  На <i>«живой товар»</i> гарантия не распространяется. Претензии принимаются в течении суток после получения и только подкрепленные фотографиями. 