<!-- Значения всех полей условны и приведены исключительно для примера -->
<form action="https://money.yandex.ru/eshop.xml" method="post">
<input id='yd' type='radio' value='yd' title='Yandex.Деньги' name='yd'/>
<label for='yd'>Yandex.Деньги</label>
<!-- Обязательные поля -->
<input name="shopId" value="1234" type="hidden"/>
<input name="scid" value="4321" type="hidden"/>
<input name="sum" value="100.50" type="hidden">
<input name="customerNumber" value="abc000" type="hidden"/>

<!-- Необязательные поля -->
<input name="shopArticleId" value="567890" type="hidden"/>
<input name="paymentType" value="AC" type="hidden"/>
<input name="orderNumber" value="abc1111111" type="hidden"/>
<input name="cps_phone" value="79110000000" type="hidden"/>
<input name="cps_email" value="user@domain.com" type="hidden"/>
.row 
  <input type="submit" value="Заплатить"/>
</form> 