/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$bottom_panel_height: 35px;

html, body {
  width: 100%;
  margin: {
    top: 0px;
    right: 0px;
    bottom: $bottom_panel_height;
    left: 0px;
  }

  h1, h2, h3 {
    margin: 5px;
    padding: 5px;
  }

  h1 {
    margin-bottom: 15px;
  }

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  color: #227;

  &:active {
    color: #33B;
  }

  &:hover {
    //text-shadow: 0px 0px 8px rgba(4, 4, 128, .4);
  }

  &:visited {
    color: #339;
  }
}

#banner {
  display: inline-block;
  width: 100%;
  background: #24C5C5;
  padding: 10px;
  border-bottom: 2px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  #logo {
    display: block;
    float: left;
    img { height: 40px; }
  }

  #phone_number {
    height: auto;
    display: block;
    position: relative;
    margin-left: 10px;
    padding: 2px;
    float: left;

    img {
      height: 35px;
      width: 35px;
      margin-right: 5px;
      display: inline-block;
      float: left;
    }

    span {
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold;
    }
  }

  #title {
    display: block;
    //width: 30em;
    margin: auto;
    font: /*small-caps*/ 40px/40px "Times New Roman", serif;
    color: #282;
    text-align: center;
  }
}

form {
  margin-bottom: 0px;
}

#columns {
  $side_width: 170px;
  $side_padding: 15px;
  $side_margin: 5px;
  position: relative;
  //background: #161;
  min-height: 100%;

  #main {
    margin-left: $side_width+($side_padding+$side_margin)*2;
    padding: 1em 1em 3em 1em;
    background: #FFF;
    min-height: 100%;
  }

  #side {
    border: 1px solid #555;
    border-radius: 3px;
    float: left;
    margin: $side_margin;
    padding: 10px $side_padding;
    width: $side_width;
    min-height: 150px;

    h4 {
      color: #FFF;
    }

    form, div {
      display: inline;
    }
   
    input {
      font-size: small;
    }

    ul {
      background: #EEE;
      border: 1px solid #7D7;
      border-radius: 8px;
      margin: 0px;
      padding: 3px;
      
      li {
        position: relative;
        list-style: none;
        border: 1px dotted transparent;
        border-radius: 3px;

        &:hover {
          border-color: #AAA;
        }

        a {
          display: block;
          height: 100%;
          width: 95%;
          font-size: small;
          padding: 5px;
        }
      }

      li.parent:hover>.child {
        display: block;
      }
    }

    .parent:after {
      content: '';
      position: absolute;
      top: 40%;
      right: 0px;
      height: 0px;
      border-width: 10%;
      border-color: transparent transparent transparent #000;
      border-style: solid;
    }

    ul.child {
      position: absolute;
      z-index: 9999;
      right: -165px;
      top: 50%;
      display: none;
      width: 160px;
      border-top-left-radius: 0px;
    }
  }
}

#time {
  position: absolute;
  color: #bfb;
  right: 1em;
}

#dummy {
  clear: both;
}

.bottom_panel {
  display: inline-block;
  background: #222;
  width: 100%;
  height: $bottom_panel_height;
  padding: 2px;
  color: #EEE;
  position: fixed;
  clear: both;
  bottom: 0px;
  left: 0px;
  padding: 8px;
  z-index: 999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: {
    weight: bold;
  };
}
