/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Importing fonts from Google Fonts API
@import url(http://fonts.googleapis.com/css?family=Jura:600|Jura|Play&subset=cyrillic);
@import "gradient";

$bottom_panel_height: 35px;

html, body {
  width: 100%;
  margin: {
    top: 0px;
    right: 0px;
    bottom: $bottom_panel_height;
    left: 0px;
  }

  h1, h2, h3 {
    margin: 5px;
    padding: 5px;
  }

  h1 {
    margin-bottom: 15px;
  }

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  color: #227;

  &:active {
    color: #33B;
  }

  &:hover {
    //text-shadow: 0px 0px 8px rgba(4, 4, 128, .4);
  }

  &:visited {
    color: #339;
  }
}

#banner {
  display: inline-block;
  width: 100%;
  background: #24C5C5;
  padding: 10px;
  border-bottom: 2px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  #logo {
    display: inline-block;
    img { height: 40px; }
  }

  #phone_number {
    height: auto;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding: 2px;
    //float: right;

    img {
      height: 35px;
      width: 35px;
      margin-right: 5px;
      display: inline-block;
      float: left;
    }

    span {
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold;
      display: block;
      float: right;
    }
  }

  #title {
    display: inline-block;
    margin: auto;
    font: /*small-caps*/ 44px/44px "Play", serif;
    color: #282;
    text-align: center;
    vertical-align: top;
    padding: 0px 25px;
  }
}

#top_menu {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    z-index: 1;

    li {
      position: relative;
      font-size: 14px;
      text-align: center;
      list-style: none;
      
      a {
        display: block;
        padding: 5px 10px;
      }

      a:hover {
        color: #FFF;
      }
    }

    &.parent {

      &>li {
        display: inline-block;
        border-radius: 0px 10px;

        &:hover>ul.child {
          display: block;
        }
      }
    }
  }
  
  ul.parent>li, ul.child {
    border: 1px solid #43AA43;
    background: rgb(152,224,176); /* Old browsers */
    @include grad(rgba(152,224,176,1), 0%, rgba(44,224,20,1) , 50%, rgba(5,209,2,1), 51%, rgba(94,229,139,1), 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98e0b0', endColorstr='#5ee58b',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 2px 3px rgba(21, 163, 21, 0.55);
  }

  ul.child {
    position: absolute;
    top: 28px;
    right: -1px;
    display: none;
    border-radius: 10px 0px 10px 10px;
  }
}

form {
  margin-bottom: 0px;
}

#loading {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(160, 160, 160, 0.7);
  z-index: 9;

  #icon {
    text-align: center;
    padding-top: 60px;
    width: 300px;
    height: 130px;
    margin: auto;
    margin-top: 170px;
    background: #FFF;
    border: 5px solid #777;
    border-radius: 10px;
  }

  p {
    font-size: 16px;
  }
}

#columns {
  $side_width: 170px;
  $side_padding: 15px;
  $side_margin: 5px;
  position: relative;
  //background: #161;
  min-height: 100%;

  #main {
    position: relative;
    margin-left: $side_width+($side_padding+$side_margin)*2;
    padding: 1em 1em 3em 1em;
    background: #FFF;
    min-height: 100%;
  }

  #side {
    border: 1px solid #555;
    border-radius: 3px;
    float: left;
    margin: $side_margin;
    padding: 10px $side_padding;
    width: $side_width;
    min-height: 150px;

    h4 {
      color: #FFF;
    }

    form, div {
      display: inline;
    }
   
    input {
      font-size: small;
    }

    ul {
      background: #EEE;
      border: 1px solid #7D7;
      border-radius: 8px;
      margin: 0px;
      padding: 3px;
      
      li {
        position: relative;
        list-style: none;
        border: 1px dotted transparent;
        border-radius: 3px;

        &:hover {
          border-color: #AAA;
        }

        a {
          display: block;
          height: 100%;
          width: 95%;
          font-size: small;
          padding: 5px;
        }
      }

      li.parent:hover>.child {
        display: block;
      }
    }

    .parent:after {
      content: '';
      position: absolute;
      top: 40%;
      right: 0px;
      height: 0px;
      border-width: 4px;
      border-color: transparent transparent transparent #000;
      border-style: solid;
    }

    ul.child {
      position: absolute;
      z-index: 9999;
      right: -165px;
      top: 50%;
      display: none;
      width: 160px;
      border-top-left-radius: 0px;
    }
  }
}

#time {
  position: absolute;
  color: #bfb;
  right: 1em;
}

#dummy {
  clear: both;
}

.bottom_panel {
  display: inline-block;
  background: #222;
  width: 100%;
  height: $bottom_panel_height;
  padding: 2px;
  color: #EEE;
  position: fixed;
  clear: both;
  bottom: 0px;
  left: 0px;
  padding: 8px;
  z-index: 999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: {
    weight: bold;
  };
}
