// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts {
  h3 {
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
  }

  img {
  }

  .edit_cart .quantity {
      box-shadow: inset 0 0 3px #444;
      text-align: center;
      border-radius: 7px;
    a.decrement {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: -25px;
        top: 2px;
        width: 13px;
        height: 13px;
        border-radius: 13px;
        background: #4B4;
        //border: 10px solid transparent;
        //margin-top: -5px;
      }
      &:before {
        content: "";
        width: 1px;
        position: absolute;
        left: -23px;
        top: 7px;
        border: 4px solid transparent;
        border-top: 5px solid #FFF;
        z-index: 3;
      }
    }
  }

  .grand-total {
    font-weight: bold;
  }

  .carts_index {
    td {
      padding: 1px 7px;
    }

    .updated_at {
      font-style: italic;
    }
    
    .total_price {
      font-size: 12px;
      font-weight: bold;
    }
    
    tbody {
      border-bottom: 1px dotted #2727EF;
    }

    .cart_actions {
      border-bottom: 1px dotted #2727EF;
      text-align: center;

      a {
        display: inline-block;
        padding: 3px 5px;
      }
    }
  }

  #content .total {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .product {
    position: relative;
    height: 85px;
    overflow: hidden;
    margin-top: 0.5em;
    border: solid 1px #CCC;
    border-radius: 10px;

    &:hover {
      border-color: #428BCA;
      background: #EEE;
    }

    .description {
      display: inline-block;
      width: 55%;
      vertical-align: top;
    }

    .info_table {
      display: inline-block;
      float: right;

      td {
        padding: 3px 6px;
      }

      .sum td:nth-child(even) {
        min-width: 130px;
      }
    }
  }

  .product-image {
    height: 85px;
    width: 85px;
  }
}

.quantity {
  input[type=text] {
    text-align: center;
    border-radius: 0px;
    margin: 0;
    height: 25px;
    border: 1px solid #777;
    border-width: 1px 0px;

    &:focus {
      -webkit-box-shadow: inset 0px 0px 3px #444;
      -moz-box-shadow: inset 0px 0px 3px #444;
      box-shadow: inset 0px 0px 3px #444;
    }
  }

  input[type=submit] {
    border: 1px solid #777;
    height: 25px;
    width: 25px;
    background: #AAA;
    font-weight: bold;

    &.minus {
      border-right: 0;
      border-radius: 3px 0px 0px 3px;
    }
    &.plus {
      border-left: 0;
      border-radius: 0px 3px 3px 0px;
    }
  }

  .button_to {
    margin: 0;
    display: inline-block;
  }
}

table.item_table {
  width: 100%;
  border: {
    width: 1px;
    collapse: collapse;
  }

  tbody {
    font-size: 15px;
    // tr:nth-child(2n) {
    //   background: #EEE;
    // }
  }

  .quantity {
    width: 4em;
  }
  .total, .grand_total {
    font-weight: bold;
    width: 12em;
  }

  tfoot {
    border-top: solid 1px #CCC;
    font-weight: bold;
  }

  .delete {
    width: 6em;
  }
}

#cart_block {
  position: absolute;
  left: 5px;
  bottom: 0px;
  min-width: 500px;
  background: #222 url() 0 0 no-repeat;
  border-top-right-radius: 5px;
  //text-align: right;
  
  #cart_panel {
    width: 500px;
    position: relative;
    bottom: -1px;

    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 88px;
    //   bottom: -19px;
    //   border-width: 10px;
    //   border-color: #EEE transparent transparent transparent;
    //   border-style: solid;
    // }

    td > a, h4 > a, #close_cart {
      color: #B8FAC0;
    }
  }

  #cart {
    right: 0px;
    width: 100%;
    //bottom: $bottom_panel_height+5px;
    background: #222;
    color: #EEE;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px -3px 5px rgba(20, 20, 20, 0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    h3{
      text-align: left;
    }

    #close_cart {
      position: absolute;
      top: 10px;
      right: 15px;
    }

    input {
      color: #222;
    }
  }
  
  .cart_link {
    position: absolute;
    top: -30px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #EEE;
    background: #222;
    padding: 0px 10px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px -3px 5px rgba(20, 20, 20, 0.3);

    #cart_title {
      padding-bottom: 1px;
      border-bottom: dotted 1px;
      color: #FFF;
      text-decoration: none;
    }
    
    &:hover {
      #cart_title {
        border-bottom: solid 1px;
      }
    }
  }

  #item_counter {
    right: 30px;
    display: inline-block;
    background: #F00;
    text-align: center;
    width: 30px;
    height: 20px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #000;
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .button_to {
    display: inline-block;
    float: right;
    height: 100%;
  }
}

#merge_carts {
  color: #666
}