@import "gradient";

$bottom_panel_height: 35px;

h1, h2, h3 {
  margin: 5px auto;
  padding: 5px 0px;
}

h1 {
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

input[type='checkbox'], input[type='checkbox']~label {
  vertical-align: middle;
}

.img-sm-sq, .img-sm-sq img {
  height: 135px;
  width: 135px;
  display: inline-block;
}

.img-md-sq, .img-md-sq img {
  height: 300px;
  width: 300px;
  display: inline-block;
}

.img-r, .img-r img {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}


form {
  margin-bottom: 0px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

#error_wrapper {
  position: fixed;
  top: 0px;
  z-index: 999;
  left: 50%;
}

#error {
  position: relative;
  max-width: 690px;
  background: rgb(188,3,3); /* Old browsers */
  @include grad(rgba(188,3,3,1), 0%, rgba(163,24,24,1) , 44%, rgba(163,24,24,1), 44%, rgba(211,63,63,1), 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0303', endColorstr='#d33f3f',GradientType=0 ); /* IE6-9 */
  color: #EEE;
  right: 50%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 1px 5px #000;

  a {
    text-decoration: underline;
  }
}

#etw {
  position: fixed;
  right: 50%;
}

#error_tag {
  position: relative;
  display: inline-block;
  background: rgb(188,3,3); /* Old browsers */
  @include grad(rgba(211,63,63,1), 0%, rgba(163,24,24,1) , 44%, rgba(163,24,24,1), 44%, rgba(188,3,3,1), 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0303', endColorstr='#d33f3f',GradientType=0 ); /* IE6-9 */
  color: #EEE;
  left: 50%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 3px 3px #000;
  cursor: pointer;
}

.banner {
  display: inline-block;
}

.warning {
  color: #F44;
  font-size: 14px;
  margin: 15px;
}

#loading {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9;

  #notification {
    text-align: center;
    width: 300px;
    height: 220px;
    margin: auto;
    padding: 10px;
    margin-top: 170px;
    background: #FFF;
    border: 5px solid #777;
    border-radius: 10px;
  }

  img#loading_gif {
    margin-top: 70px;
  }

  p {
    font-size: 16px;
  }
}

#content {
  position: relative;
  //background: #161;
  min-height: 100%;
}

.no_js {
  padding: 7px;
  display: none;
}

.primary_button {
  background: #E00;
  border: none;
  // {
  //   top: outset 1px #999;
  //   right: outset 1px #C00000;
  //   bottom: outset 1px #C00;
  //   left: outset 1px #666;
  //   radius: 5px;
  // };
  border-radius: 3px;
  color: #EEE;
  font: 14px Arial;
  font-weight: bold;
  padding: 4px 6px;
  // box-shadow: 1px 1px 3px #700;
  outline: none;
  margin: 3px 5px 3px 0px;
  cursor: pointer;
  height: 28px;
  min-width: 100px;

  &:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.225) inset;
    border-radius: 3px;
    // {
    //   top: inset 1px #C00;
    //   right: inset 1px #666;
    //   bottom: inset 1px #999;
    //   left: inset 1px #C00000;
    //   radius: 5px;
    // };
  }

  &:hover {
    background: #D00;
  }

  &:disabled {
    background: #999;
    box-shadow: inset 0px 0px 20px #777;
    border-radius: 3px;
  }
}

#time {
  position: absolute;
  color: #bfb;
  right: 1em;
}

#dummy {
  clear: both;
}

.bottom_panel {
  display: inline-block;
  background: #222;
  color: #EEE;
  font-weight: bold;
  width: 100%;
  height: $bottom_panel_height;
  position: fixed;
  clear: both;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  .back-to-top {
    display: inline-block;
    padding: 7px;
    color: #B8FAC0;
  }
}

#form {

  .modal-dialog {
    height: 300px;
    max-width: 365px;
  }

  .modal-body {
    padding: 0;
    margin: 0;
  }

  form {
    margin: 0;
  }

  button.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
  }
}

.control {
  margin-top: 8px;
}

.control_sort {
  select {
    display: none;
  }
  div {
    display: inline-block;
  }

  label {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    float: none;
  }

  .select {
    padding-right: 10px;
  }
}

.pagination {
  text-align: center;
  font-weight: bold;

  .next, .last {
    text-align: right;
  }
  .first, .previous {
    text-align: left;
  }

  .gap {
    position: relative;
    cursor: pointer;

    & > span, & > a {
      width: 54px;
    }
  }

  .gap_pages {
    display: none;
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 30px;
    width: 150px;
    position: absolute;
    top: -35px;
    left: -75px;
    margin-left: 50%;
    padding: 9px;
    z-index: 99;
  }
}

#search_help {
  cursor: help;
  position: absolute;
  top: 10px;
  right: 85px;
  z-index: 9;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.price {
  display: inline-block;
  color: #44a;
  font-weight: bold;
}

.select {
  position: relative;
  height: 22px;
  width: auto;
  border: 1px solid rgba(#999, 0.5);
  border-radius: 3px;
  margin: 6px;
  padding: 1px;
  cursor: default;
  @include grad(rgba(244,244,244,1), 0%, rgba(201,201,201,1), 51%, rgba(221,221,221,1), 52%, rgba(216,216,216,1), 100%);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  &:after {
    content: '';
    position: absolute;
    right: 3px;
    top: 5px;
    border-width: 8px 4px;
    border-color: #3A3A3A transparent transparent transparent;
    border-style: solid;
  }

  &:hover {
    border: 1px solid rgba(#999, 0.8);
    cursor: pointer;
  }

  ul {
    position: absolute;
    display: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    padding-right: 10px;
    left: -1px;
    top: 17px;
    z-index: 8;
    border: 1px solid rgba(#999, 0.8);
    border-top: 0;
    border-radius: 0 3px 3px 3px;
    @include grad(rgba(216,216,216,1), 0%, rgba(221,221,221,1), 51%, rgba(201,201,201,1), 52%, rgba(244,244,244,1), 100%);

    li {
      display: block;
      cursor: pointer;
      color: #333;
      margin: 2px 0px;
      padding: 1px 4px 1px 2px;
      border-radius: 3px;
      font-family: verdana, arial, helvetica, sans-serif;

      &:hover {
        -webkit-box-shadow: 0 0 3px #000;
        -moz-box-shadow: 0 0 3px #000;
        box-shadow: 0 0 3px #000;
      }
    }
  }
}

.add_to_cart_wrapper form {
  width: 140px;
  margin-bottom: 10px;
}

.bottom_control {
  margin: 10px 15px 35px;
  position: relative;
}