// import the CSS framework
@import "bootstrap";

// make all images responsive by default
// img {
//   @extend .img-responsive;
//   margin: 0 auto;
//   }
// // override for the 'Home' navigation link
// .navbar-brand {
//   font-size: inherit;
//   }

// // THESE ARE EXAMPLES YOU CAN MODIFY
// // create your own classes
// // to make views framework-neutral
// .column {
//   @extend .col-md-6;
//   @extend .text-center;
//   }
// .form {
//   @extend .col-md-6;
//   }
// .form-centered {
//   @extend .col-md-6;
//   @extend .text-center;
//   }
// .submit {
//   @extend .btn;
//   @extend .btn-primary;
//   @extend .btn-lg;
//   }
// // apply styles to HTML elements
// // to make views framework-neutral
// main {
//   @extend .container;
//   background-color: #eee;
//   padding-bottom: 80px;
//   width: 100%;
//   margin-top: 51px; // accommodate the navbar
//   }
// section {
//   @extend .row;
//   margin-top: 20px;
//   }

body {
  margin: 5px 5px 70px;
}

#main label, #side label {
  display: inline;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #227;

  &:active {
    color: #33B;
  }

  &:hover {
    color: #00A;
  }

  &:visited {
  }

  &:hover, &:active, &:focus, &:visited {
    outline: 0;
  }
  &:hover, &:active, &:visited {
    text-decoration: none;
  }
}

input:focus, button:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-style: 30px;
  font-weight: 700;
}

h1 > a {
  @extend .btn;
  @extend .btn-default;
}

h3 {
  margin-top: 5px;
}

.bold {
  font-weight: bold;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 5px;
}

form.centered-form {
  @extend .col-md-offset-2;
  @extend .col-md-8;

  input[type]:not([type=submit]) {
    @extend .form-control;
  }

  input[type='submit'] {
    @extend .btn;
    @extend .btn-primary;
  }
}

.btn-yellow {
  color: #222;
  background-color: #F0F000;
  border-color: #444;
  border-width: 2px;
}

.btn-gray {
  @extend .btn;
  background: #CCC;
}

.current-page {
  @extend .btn;
  background: #5DB141;
}

ul.child a.current-page {
  border-radius: 4px 0px 4px 4px;
}

.btn-link {
  color: #1055CF;
}

.authform {
  max-width: 365px;
  margin: 0 auto;
}

.authform form {
  padding-bottom: 50px;
}
.authform .right {
  float: right !important;
}
.authform .left {
  float: left !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.add_amount {
  text-align: center;
  border-radius: 3px 0px 0px 3px !important;
}

hr {
  margin-top: 15px;
  margin-bottom: 5px;
}

.entry .head > div {
  @include make-row(16);
}

.checkbox {
  padding-left: 20px;
  label {
    padding-left: 0;
  }
}