
#header_wrapper {
  margin-bottom: 5px;
  background: url('/images/scrolling-bg.jpg') 0 0;
}

#header {
  min-height: 115px;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;

  #logo {
    display: inline-block;
    img { height: 135px; width: 180px }
  }

  #phone_number {
    height: auto;
    padding: 2px;
    //float: right;

    img {
      height: 45px;
      width: 40px;
      margin-right: 5px;
      display: inline-block;
      float: left;
    }

    p {
      font-size: 17px;
      font-weight: bold;
      color: #EEE;
      text-shadow: 0 0 3px #333;
    }
  }

  #title {
    font: /*small-caps*/ 44px/44px verdana,helvetica,arial, sans-serif;
    color: #EEE;
  }

}

#left_header_part {
  display: inline-block;
  vertical-align: top;
  //margin-left: 20px;
  color: #EEE;
  text-shadow: 0 0 3px #333;
  font-weight: bold;

  p {
    font-size: 17px;
  }
}

#enter_form {
  display: inline-block;
  text-align: right;
  text-align: right;

  a {
    color: #FFF;
  }
}

#top_menu {
  display: block;
  width: 100%;
  text-align: center;
  background: #FFF;
  box-shadow: 0px -10px 15px 13px #FFF;

  .btn-gray {
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 20px;

    &:hover, &.current-page {
      color: #029;
      box-shadow: -15px 0 7px -10px, 15px 0 7px -10px;
    }
  }

  ul {
    z-index: 10;
    margin: 0;

    li {
      position: relative;

      span {
        display: block;
      }
      
      a {
        display: block;
        color: #000;
        text-align: center;
      }
    }

    &.parent {

      &>li {
        display: inline-block;

        &:hover>ul.child {
          display: block;
        }
      }
    }
  }
  
  ul.parent>li, ul.child {
    //background: rgb(152,224,176); /* Old browsers */
    //@include grad(rgba(152,224,176,1), 0%, rgba(44,224,20,1) , 50%, rgba(5,209,2,1), 51%, rgba(94,229,139,1), 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98e0b0', endColorstr='#5ee58b',GradientType=0 ); /* IE6-9 */
  }

  ul.child {
    position: absolute;
    top: 30px;
    right: 0px;
    display: none;
    background: #FFF;

    li {
      a {
        padding: 8px;
      }

      &:not(:first-child) {
        border-radius: 6px 0px 6px 6px;
      }
    }
  }
}

a.phone_number {
  color: #EEE;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}