
#header_wrapper {
  border: 2px solid #444444;
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#header {
  display: inline-block;
  width: 100%;
  min-height: 115px;
  background: #24C5C5;
  padding: 10px;
  box-shadow: 0 0 3px #1FC0C0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  position: relative;

  #logo {
    display: inline-block;
    img { height: 135px; width: 180px }
  }

  #phone_number {
    height: auto;
    padding: 2px;
    //float: right;

    img {
      height: 45px;
      width: 40px;
      margin-right: 5px;
      display: inline-block;
      float: left;
    }
  }

  #title {
    font: /*small-caps*/ 44px/44px verdana,helvetica,arial, sans-serif;
    color: #EEE;
  }

  #under_development {
    font: /*small-caps*/ 20px verdana,helvetica,arial, sans-serif;
    color: #333;
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px;
  }
}

#left_header_part {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  color: #EEE;
  text-shadow: 0 0 3px #333;

  p {
    font-size: 17px;
  }
}

#right_header_part {
  display: inline-block;
  bottom: 0px;
  float: right;
  height: 100%;
  text-align: right;

  #enter_form {
    display: inline-block;
    text-align: right;
    margin-bottom: 40px;
  }

}

#top_menu_wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#top_menu {
  display: block;

  li:hover {
    text-decoration: underline;
  }

  ul {
    z-index: 10;

    li {
      position: relative;

      span {
        display: block;
      }
      
      a {
        display: block;
        color: #000;
        text-align: center;
      }
    }

    &.parent {

      &>li {
        display: inline-block;

        &:hover>ul.child {
          display: block;
        }
      }
    }
  }
  
  ul.parent>li, ul.child {
    border: 2px solid #555;
    border-radius: 6px;
    //background: rgb(152,224,176); /* Old browsers */
    //@include grad(rgba(152,224,176,1), 0%, rgba(44,224,20,1) , 50%, rgba(5,209,2,1), 51%, rgba(94,229,139,1), 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98e0b0', endColorstr='#5ee58b',GradientType=0 ); /* IE6-9 */
    box-shadow: 2px 2px 3px rgba(65, 65, 65, 0.55);
  }

  ul.child {
    position: absolute;
    top: 28px;
    right: -2px;
    display: none;
    border-radius: 6px 0px 6px 6px;
    background: #CCC;

    li {
      a {
        padding: 8px;
      }

      &:not(:first-child) {
        border-radius: 6px 0px 6px 6px;
      }
    }
  }
}

a.phone_number {
  color: #EEE;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}