// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {
  div.info {
    font-size: 14px;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .notice {
    color: #E22;
    font-size: 16px;
  }
}

.tab-content {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #DDD;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

fieldset.order {

  .ui-datepicker-trigger {
    position: relative;
    right: 26px;
    top: -2px;
    margin: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
  }

  .ui-datepicker-trigger:active, #order_shipping_date:focus~.ui-datepicker-trigger {
    right: 25px;
    top: -1px;
    box-shadow: none;
  }

  legend {
    color: #333;
    font-family: sans-serif;
    padding: 0.2em 1em;
  }
}

.order form {
  label {
    text-align: right;
  }

  select, textarea, input {
    margin-left: 0.5em;
    margin: 2px;
  }

  .submit {
    margin-left: 4em;
  }

  .required {
    color: #F00;
    vertical-align: super;
    font-size: 10px;
  }

  tr>td:nth-child(1) {
    text-align: right;
  }

  br {
    display: none
  }
}

.center {
  text-align: center;
}

.history {
  border-collapse: collapse;

  th, &>tbody>tr>td {
    padding: 3px 6px;
    border-bottom: 1px solid #999;
  }
}

.order_table {
  max-height: 150px;
  overflow: auto;
}