// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .product-table {
//   width: 100%;
//   border-collapse: collapse;

//   .product:nth-child(2n-1) {
//     background: #DDD;
//   }

//   tr, td {
//     padding: 5px;
//     vertical-align: top;
//   }

//   .image {
//     width: $img-size;
//     cursor: pointer;
//     background: #FFF;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 1);
//     border: {
//       style: solid;
//       color: #FFF;
//       width: $img-size*0.03;
//       radius: $img-size*0.03;
//     }

//     img {
//       max-width: $img-size;
//       max-height: $img-size*0.75;
//       display: block;
//       margin: auto;
//     }
//   }

//   .name {
//     color: #FFF;
//     font: {
//       size: 1.2em;
//       weight: bold;
//     }
//     display: block;
//     margin: 0.8em;
//   }

//   .price {
//     text-align: right;
//     width: 6em;
//   }

//   .actions {
//     text-align: right;
//     font-size: small;
//     width: 5em;
//   }
// }

// Showing product
.product_card {
  // .image {
  //   float: left;
  //   margin: 10px;

  //   img {
  //     max-height: 250px;
  //     max-width: 250px;
  //   }
  // }
  
  // .text_block {
  //   position: absolute;
  //   padding: 5px;
  //   text-align: justify;
  //   display: inline-block;
  //   width: 635px;
  //   overflow: hidden;
  // }
  
  // .right_panel {
  //   position: absolute;
  //   right: 10px;
  //   margin: 10px;
  //   padding: 10px;
  //   border: 1px solid #888;
  //   border-radius: 5px;
  //   box-shadow: 2px 2px 5px rgba(131, 131, 131, 0.8);
  //   text-align: right;
  //   background: #F7F7F7;
  //   width: 150px;

  //   & .add_to_cart {
  //     margin: 20px 0px 5px 0px;
  //   }

  //   .price {
  //     margin: 2px;
  //   }

  //   .rating {
  //     margin-top: 4px;
  //     margin-right: 35px;
  //   }
  // }

  // #breadcrumb {
  //   margin-left: 10px;
  //   font: 16px Arial,sans-serif;
  // }

}

.product_card {
  margin: 5px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;

  .price {
    font-size: 15px;
  }

  .image {
    display: inline-block;
  }

  .thumb {
    display: inline-block;

    img {
      height: 70px;
      width: 70px;
    }
  }

  .text_block {
    vertical-align: top;
    text-align: justify;
  }

  .right_panel {
    display: inline-block;
    vertical-align: top;
    text-align: right;

  }
}