// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$side_width: 200px;
$side_padding: 15px;
$side_margin: 5px;


h1.underlined {
  margin: auto;
  padding-bottom: 0.5em;
  font: 25px sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

/* An entry in the store catalog */
.entry {
  position: relative;
  min-height: 140px;
  overflow: hidden;
  margin-top: 0.5em;
  border: solid 1px #CCC;
  border-radius: 10px;

  &:hover {
    border-color: #357EBD;
    background: #F5F5F5;
  }

  a:visited {
    color: #74F;
  }

  h3 {
    font-size: 120%;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    color: #227;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  img {
    height: 135px;
    width: 135px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
  }
  
  .description {
    padding: 10px;
    margin: auto;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .short_description {
      p {
        display: none;
      }
  }

  .right_panel {
    height: 100%;
    width: 16%;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .add_to_cart {
    position: absolute;
    bottom: 5px;
    right: 5px;
    form {
      margin: auto;
    }
  }
}

#filters {
  input[type=text] {
    width: 45px;
    text-align: center;
  }
}

.show_hide_tree {
  cursor: pointer;
  padding: 3px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;

  &.active {
    border-radius: 8px 8px 0px 0px;
  }
}

#side {
  border: 1px solid #555;
  border-radius: 6px;
  // float: left;
  // margin: $side_margin $side_margin 40px 0px;
  padding: 10px $side_padding;
  // width: $side_width;
  // min-height: 150px;
 
  input {
    font-size: small;
  }

  .side-panel {
    border: 1px solid #357EBD;
    border-radius: 8px;
    background: #F5F5F5;
    margin: 3px;
    padding: 3px;
  }

  nav.menu_side ul {
    display: none;
    margin: 0px;
    padding: 3px;
    
    li {
      position: relative;
      list-style: none;
      border: 1px dotted transparent;
      border-radius: 3px;

      &:hover {
        border-color: #AAA;
      }

      a {
        display: block;
        height: 100%;
        width: 95%;
        font-size: small;
        padding: 5px;
      }
    }
  }

  .parent:after {
    content: '';
    position: absolute;
    top: 40%;
    right: 0px;
    height: 0px;
    border-width: 4px;
    border-color: transparent transparent transparent #000;
    border-style: solid;
  }

  ul.child {
    background: #EEE;
    border: 1px solid #357EBD;
    position: absolute;
    z-index: 9999;
    right: -($side_width);
    top: -1px;
    width: $side_width;
    border-radius: 0px 8px 8px 8px;
  }

  li.parent:hover>.child {
    display: block;
  }
  
  .count {
    font-size: 8px;
    vertical-align: sub;
    color: #666;
  }
}

#main {
  // position: relative;
  // margin-left: $side_width+$side_margin;
  // padding: 1em 1em 3em 1em;
  // background: #FFF;
  // min-height: 100%;
}