// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$side_width: 200px;
$side_padding: 7px;
$side_margin: 5px;

$img-size: 120px;
$vote_img_size: 24px;


h1.underlined {
  margin: auto;
  padding-bottom: 0.5em;
  font: 25px sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

mark {
  padding: 2px 0;
  background-color: rgba(100, 235, 0, 0.70);
}

/* An entry in the store catalog */
.entry {
  position: relative;
  min-height: 140px;
  overflow: hidden;
  margin-top: 0.5em;
  border: solid 1px #CCC;
  border-radius: 10px;

  .price {
    padding: 7px;
  }

  &:hover {
    border-color: #357EBD;
    background: #F5F5F5;
  }

  a:visited {
    color: #74F;
  }

  .head {
    background: #DDD 0 0 no-repeat;
  }

  h3 {
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 8px;
    margin: 0px;
    color: #227;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .description {
    padding: 10px;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .properties_table {
    display: none;
  }

  .table.properties {
    width: 510px;
  }

  .right_panel {
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .add_to_cart {
    position: absolute;
    bottom: 5px;
    right: 5px;
    form {
      margin: auto;
    }
  }
}

.rating_wrapper {
  position: relative;
  height: 24px;
  margin: 6px 0px 15px;
  white-space: nowrap;
}

.rating {
  display: inline-block;
  height: $vote_img_size;
  width: $vote_img_size*5;
  position: relative;
  background: transparent image-url('/images/thumb_up_bg.png') left top no-repeat;

  .current {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent image-url('/images/thumb_up_rating.png') left top no-repeat;
    opacity: 0.9;
  }

  .vote {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    a {
      display: block;
      height: $vote_img_size;
      width: $vote_img_size;
      float: left;
    }

    .vote_bg {
      display: block;
      height: 100%;
      width: 0;
      background: transparent image-url('/images/thumb_up.png') left top repeat-x;
      z-index: 2;
    }

    @for $i from 1 through 5 {
      a.rate_#{$i}:hover ~ .vote_bg {
        width: #{$vote_img_size * $i};
      }
    }
  }

  .voted {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent image-url('/images/thumb_up_voted.png') left top repeat-x;
    z-index: 3;
    opacity: 0.8;
  }

  .thanks {
    display: block;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: -15px;
    left: 0;
  }
}
.rating_counter {
  display: inline-block;
  width: 2.6em;
  color: #555;
  font-size: 11px;
  vertical-align: bottom;
}

#filters {
  h4 {
    margin-top: 5px;
  }

  input[type=text] {
    width: 50px;
    text-align: center;
  }

  .body {
    display: none;
  }
}

.show_hide_tree {
  cursor: pointer;
  padding: 3px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;

  &.active {
    border-radius: 8px 8px 0px 0px;
  }
}

#side {
  border: 2px solid #444444;
  border-radius: 5px;
  // float: left;
  // margin: $side_margin $side_margin 40px 0px;
  padding: 5px $side_padding;
  // width: $side_width;
  // min-height: 150px;
 
  input {
    font-size: small;
  }

  .side-panel {
    border: 1px solid #357EBD;
    border-radius: 8px;
    background: #F5F5F5;
    margin: 3px;
    padding: 3px;
  }

  nav.menu_side ul {
    display: none;
    margin: 0px;
    padding: 3px;
    
    li {
      position: relative;
      list-style: none;
      border: 1px dotted transparent;
      border-radius: 3px;

      &.current {
        border-color: #666;
      }

      &:hover {
        border-color: #AAA;
      }

      a {
        display: block;
        height: 100%;
        width: 95%;
        font-size: small;
        padding: 5px;
      }
    }
  }

  .parent:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0px;
    height: 0px;
    border-width: 4px;
    border-color: transparent transparent transparent #000;
    border-style: solid;
  }

  ul.child {
    background: #EEE;
    border: 1px solid #357EBD;
    position: absolute;
    z-index: 9999;
    right: -($side_width);
    top: -1px;
    width: $side_width;
    border-radius: 0px 8px 8px 8px;
  }

  li.parent:hover>.child {
    display: block;
  }
  
  .count {
    font-size: 8px;
    vertical-align: sub;
    color: #666;
  }

  .well {
    margin-bottom: 10px;
  }
}

#main {
  // position: relative;
  // margin-left: $side_width+$side_margin;
  // padding: 1em 1em 3em 1em;
  // background: #FFF;
  // min-height: 100%;
}