<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то (возможно, Вы) отправил запрос на изменение пароля. Вы можете сделать это пройдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если Вы по каким-то причинам не можете нажать на ссылку, то скопируйте её в адресную строку вашего браузера.</p>
<p><%= link_to edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если же это были не Вы, то просто проигнорируйте письмо.</p>
<p>Ваш пароль не будет изменён, пока Вы не пройдёте по указанной ссылке и не зададите новый пароль.</p>
