%h1.underlined
  Ручное обновление
.output
  %p.bold 
    Порядок действий:
  %ol
    %li Убедитесь, что файл 'webdata.zip' лежит в папке '/home/fish/www/fishmarkt/shared/'.
    %li Нажмите кнопку 'Пуск'.
    %li Дождитесь завершения операции обновления.

  = button_to 'Пуск', force_update_path(format: :json), remote: true, class: 'btn btn-primary', id: 'force_update', style: 'margin: 10px;'
  #log
    %fieldset
      %legend Журнал обновления
      %pre
        %code
