$("##{@product.permalink} .product_properties form").removeAttr('data-remote')
$("##{@product.permalink} .properties_table").html("#{ j render 'properties_table' }")
//$('.properties_table').slideUp('fast')
$("##{@product.permalink} .properties_table").slideDown('fast')