- @page_title = @product.title
- content_for :description, @product.html_description.presence || @product.desc
- content_for :keywords, @product.html_keywords.presence || @product.long_name

= render 'shared/breadcrumbs'

= render 'product_card'