%hr
.text-center= paginate @products

- query = [params[:q].split('*'), ActiveSupport::Inflector.transliterate(params[:q]).split('*')].flatten.map{|s| s.gsub('+', ' ')}.select(&:present?) if params[:q]

- if @products.any?
  = render @products, query: query
- else
  %p.warning.alert.alert-warning Раздел ещё пуст либо не найдено позиций, удовлетворяющих критериям поиска.